body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;

}
.page-title {
    font-size: 90px;
    color: #ffffff;
    text-shadow: 3px 3px 2px black;
    margin-bottom: 0;
}

.entrada {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.number {
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    width: 300px;
    color: black;
    margin-bottom: 10px;
}

input::placeholder {
    color: grey;
    text-align: center;
}

button {
    display: inline-block;
    padding: 15px 20px;
    background-color: green; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
    margin: 10px 0 10px 0;
    max-width: 10%;
}

button:hover {
    background-color: #4F4F4F; 
}

.cButon{
    width: 100%;

}
.res {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    margin-top: 15px;
    color: white;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.6);
}